.search_ico {
	right: 11px;
}
.main_menu_list li {
	width: 247px;
}
.main_menu_list li a {
	height: 62px;
	padding: 17px 0px 0 0px;
}
.main_menu_list li span{
	line-height: 51px;
}
.three_columns_content:before, 
.three_columns_content:after, 
.weather:before, 
.weather:after {
	display: none;
}