<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LinqToVariables.Properties.Settings.elcondorConnectionString"
            connectionString="Data Source=milfoil.arvixe.com;Initial Catalog=elcondor;Persist Security Info=True;User ID=elcondoruser;Password=tt2011"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>